* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%; }

.container {
  width: 2vw;
  height: 2vw;
  margin-left: 20px; }
  .container__text {
    height: 100%; }
  .container__text2 {
    height: 100%; }
  .container__text {
    width: 90%;
    background-color: #9147ff;
    clip-path: polygon(24% 0, 100% 0, 100% 53%, 65% 85%, 50% 85%, 26% 100%, 26% 85%, 0 85%, 0 22%); }
  .container__text2 {
    width: 100%;
    background-color: #fff;
    clip-path: polygon(26% 8%, 93% 8%, 93% 49%, 76% 64%, 59% 64%, 44% 79%, 44% 64%, 26% 64%); }
  .container__log {
    margin-left: 45%;
    float: left; }
  .container__log2 {
    margin-left: 67%; }
  .container__log, .container__log2 {
    width: 10%;
    height: 50%;
    background-color: #9147ff;
    clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0 100%); }

.header {
  background: #ffffff;
  border: 1px solid gainsboro;
  box-shadow: #ccc;
  height: 100% !important;
  padding-bottom: 10px; }

.title__text {
  color: #0e0e10;
  text-decoration: none;
  font-size: 1.2em;
  font-family: Tahoma;
  font-weight: bold; }

.title :hover {
  color: #9147ff; }

/* Dropdown */
.logs {
  flex-grow: 1 !important;
  flex-shrink: 2 !important;
  width: 100% !important;
  display: flex !important;
  align-items: stretch !important;
  justify-content: flex-start !important;
  flex-wrap: nowrap;
  gap: 30px;
  margin-top: 20px; }

.dropdown {
  display: inline-block;
  position: relative; }

.dd-button {
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  white-space: nowrap;
  cursor: auto; }

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black; }

.dd-button:hover {
  background-color: #eeeeee; }

.dd-input {
  display: none; }

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
  font-size: 14px;
  font-family: Tahoma;
  color: gray; }

.dd-input + .dd-menu {
  display: none; }

.dd-input:checked + .dd-menu {
  display: block; }

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap; }

.dd-menu li:hover {
  background-color: #f6f6f6; }

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px; }

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc; }

.input-type {
  display: flex;
  gap: 2px;
  width: 60%;
  margin: 0%;
  justify-content: center; }

.input__inp {
  background: #efeff1;
  flex-grow: 3;
  height: 40px;
  width: 350px;
  border: 1px solid #efeff1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.button__btn {
  width: 40px;
  height: 40px;
  border: 1px solid #efeff1;
  background: #efeff1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.content {
  display: flex;
  gap: 10px; }

.btn-log__login {
  background-color: #efeff1;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 5px; }

.btn-log__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-family: Tahoma; }

.btn-sign__btn {
  background: #9147ff;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 5px; }

.btn-sign__link {
  font-size: 15px;
  font-weight: bold;
  font-family: Tahoma;
  text-decoration: none;
  color: #ffffff; }

/* main*/
.main-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #efeff1; }

.main-list {
  background-color: gainsboro;
  height: 800px;
  width: 20%; }

.profile {
  display: flex;
  grid-column-gap: 10px;
  padding-left: 10px;
  padding-top: 10px; }

.profile:hover {
  background-color: #efeff1; }

.title-list {
  margin: 0% auto;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .title-list__text {
    font-size: 13px;
    font-family: Tahoma;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 30px; }

.img-link {
  text-decoration: none;
  color: gray; }

.img {
  border-radius: 50px;
  width: 30px;
  height: 30px; }

.flowers {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  padding-left: 80px;
  align-items: center; }
  .flowers__online {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #eb0400; }

.main-product {
  background-color: #efeff1;
  width: 100%;
  background-size: cover;
  display: block; }

.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; }

.box-one {
  z-index: 4;
  margin-top: 120px;
  margin-left: -150px;
  margin-right: -150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.box-two {
  z-index: 5;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 80px;
  margin-bottom: -50px;
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.box-three {
  z-index: 3;
  margin-top: 120px;
  margin-left: -160px;
  margin-right: -150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.title-gallery {
  display: flex;
  gap: 2px;
  padding-left: 10px;
  padding-bottom: 10px; }
  .title-gallery__link {
    color: #9147ff;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none; }
  .title-gallery__link:hover {
    text-decoration-line: underline;
    text-decoration-style: none; }
  .title-gallery__text {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif; }

.main-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  grid-gap: 10px; }

.container-info {
  display: flex;
  gap: 100px;
  padding-top: 10px;
  padding-bottom: 40px; }

.persoal-image {
  display: flex;
  gap: 10px; }
  .persoal-image__hover:hover {
    transform: translate(5px); }

#img-style:hover {
  box-shadow: 7px 7px gold; }

#img-style-one:hover {
  box-shadow: 7px 7px #9147ff; }

#img-style-two:hover {
  box-shadow: 7px 7px red; }

#img-style-three:hover {
  box-shadow: 7px 7px tomato; }

.image-info {
  display: flex;
  gap: 10px; }

.img-info {
  width: 40px;
  height: 40px;
  border-radius: 50px; }

.img-info-four {
  width: 40px;
  height: 40px;
  border-radius: 50px; }

.image-infor {
  margin-left: -60px; }

.button {
  display: flex;
  gap: 10px;
  padding-top: 5px;
  flex-direction: row; }
  .button__english {
    background-color: gainsboro;
    width: 80px;
    height: 20px;
    border: none;
    border-radius: 20px; }
  .button__link {
    color: #848494;
    text-decoration: none;
    font-weight: bold; }
  .button__add {
    background-color: gainsboro;
    width: 70px;
    height: 20px;
    border: none;
    border-radius: 20px; }

hr.divider:after {
  content: 'Show more';
  display: inline-block;
  position: relative;
  top: -7px;
  padding: 0 16px;
  background: #efeff1;
  justify-content: center;
  align-items: center; }

hr.divider {
  margin-bottom: 10px;
  padding: 0;
  overflow: visible;
  border: none;
  border-top: 1px solid  gainsboro;
  color: #9147ff;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family: sans-serif; }

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0% auto; }
  @media screen and (max-width: 1024px) {
    hr {
      display: none; } }
