* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif; }

/* haed section */
.container {
  width: 2vw;
  height: 2vw;
  margin-left: 20px; }
  .container__text {
    height: 100%; }
  .container__text2 {
    height: 100%; }
  .container__text {
    width: 90%;
    background-color: #9147ff;
    clip-path: polygon(24% 0, 100% 0, 100% 53%, 65% 85%, 50% 85%, 26% 100%, 26% 85%, 0 85%, 0 22%); }
  .container__text2:hover {
    transform: translate(5px); }
  .container__text2 {
    width: 100%;
    background-color: #fff;
    clip-path: polygon(26% 8%, 93% 8%, 93% 49%, 76% 64%, 59% 64%, 44% 79%, 44% 64%, 26% 64%); }
  .container__log {
    margin-left: 45%;
    float: left; }
  .container__log2 {
    margin-left: 67%; }
  .container__log, .container__log2 {
    width: 10%;
    height: 50%;
    background-color: #9147ff;
    clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0 100%); }

.header {
  background: #ffffff;
  border: 1px solid gainsboro;
  box-shadow: #ccc;
  padding-bottom: 10px;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 6; }
  @media screen and (max-width: 412px) {
    .header {
      display: none; } }

.title__text {
  color: #0e0e10;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold; }

.title :hover {
  color: #9147ff; }

/* Dropdown */
.logs {
  flex-grow: 1 !important;
  flex-shrink: 2 !important;
  width: 100% !important;
  display: flex !important;
  align-items: stretch !important;
  justify-content: flex-start !important;
  flex-wrap: nowrap;
  gap: 15px;
  padding-top: 10px; }

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 8; }

.dd-button {
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  white-space: nowrap;
  cursor: auto; }

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black; }

.dd-button:hover {
  background-color: #eeeeee; }

.dd-input {
  display: none; }

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
  font-size: 14px;
  font-family: sans-serif;
  color: gray; }

.dd-input + .dd-menu {
  display: none; }

.dd-input:checked + .dd-menu {
  display: block; }

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap; }

.dd-menu li:hover {
  background-color: #f6f6f6; }

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px; }

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc; }

.input-type {
  display: flex;
  gap: 1px;
  width: 60%;
  margin: 0%;
  justify-content: center; }

.input__inp {
  background: #efeff1;
  flex-grow: 3;
  height: 40px;
  width: 350px;
  border: 1px solid #efeff1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

input {
  padding-left: 13px;
  color: #848494;
  outline: none; }

input:hover {
  border: 2px solid #5c16c5;
  background: #fff; }

.button__btn {
  width: 40px;
  height: 40px;
  border: 1px solid #efeff1;
  background: #efeff1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -5px; }

.content {
  display: flex;
  gap: 10px;
  padding-left: 100px; }

.btn-log__login {
  background-color: #efeff1;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold; }

.btn-log__link {
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
  color: #000000; }

.btn-sign__btn {
  background: #9147ff;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 5px; }

.btn-sign__link {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff; }

.main {
  display: grid;
  grid-template-columns: 15% 85%; }
  @media screen and (max-width: 1024px) {
    .main {
      display: grid;
      grid-template-columns: 100%; } }

.main-list {
  background: #efeff1;
  height: 2058px;
  position: relative;
  top: 60px;
  z-index: 5; }
  @media screen and (max-width: 1024px) {
    .main-list {
      display: none;
      background: none; } }

.main-content {
  background-color: #F8F8F8; }

.profile {
  display: flex;
  grid-column-gap: 10px;
  padding-left: 10px;
  padding-top: 10px; }
  .profile__para {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px; }
    @media screen and (max-width: 1024px) {
      .profile__para {
        display: none; } }

.profile:hover {
  background-color: #E8E8E8; }

.title-list {
  margin: 0% auto;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .title-list__text {
    font-size: 13px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 30px; }
  @media screen and (max-width: 1024px) {
    .title-list {
      display: none; } }

.img-link {
  text-decoration: none;
  color: gray;
  font-family: sans-serif;
  font-size: 13px; }
  @media screen and (max-width: 1024px) {
    .img-link {
      display: none; } }

.img {
  border-radius: 50px;
  width: 30px;
  height: 30px; }

.flowers {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  padding-left: 60px;
  align-items: center; }
  .flowers__online {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #eb0400; }
  .flowers__link {
    color: gray;
    font-family: sans-serif;
    font-size: 13px; }
  @media screen and (max-width: 1024px) {
    .flowers {
      display: none; } }

.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  margin-bottom: 250px;
  position: relative;
  top: 60px;
  bottom: 100px; }
  @media screen and (max-width: 412px) {
    .main-img {
      margin-bottom: 100px;
      top: 10px; } }

.box-one {
  z-index: 4;
  margin-top: 120px;
  margin-left: -150px;
  margin-right: -280px;
  margin-bottom: -20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  @media screen and (max-width: 1024px) {
    .box-one {
      display: none; } }

.box-two {
  position: relative;
  z-index: 5;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 80px;
  margin-bottom: -50px;
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  @media screen and (max-width: 412px) {
    .box-two {
      width: 400px;
      margin-top: 5px; } }

.box-three {
  z-index: 3;
  margin-top: 120px;
  margin-left: -300px;
  margin-right: -150px;
  margin-bottom: -20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  @media screen and (max-width: 1024px) {
    .box-three {
      display: none; } }

.box-four {
  z-index: 2;
  margin-top: 130px;
  margin-left: -200px;
  margin-right: -100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  @media screen and (max-width: 1024px) {
    .box-four {
      display: none; } }

.box-five {
  z-index: 1;
  margin-top: 100px;
  margin-left: -100px;
  margin-right: -220px;
  margin-bottom: -30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  @media screen and (max-width: 1024px) {
    .box-five {
      display: none; } }

.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row; }

.title {
  display: flex;
  padding-left: 32px;
  padding-bottom: 10px; }
  @media screen and (max-width: 1024px) {
    .title {
      display: none; } }
  .title__link {
    color: #5c16c5;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; }

.persoal-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0% auto;
  width: 80%; }
  .persoal-image__hover:hover {
    transform-origin: 0px 100px;
    transform: translate(5px); }
  @media screen and (max-width: 1024px) {
    .persoal-image {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 412px) {
    .persoal-image {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 5px; } }

#font {
  font-size: 14px;
  font-family: sans-serif; }

.text:hover {
  color: #9147ff; }

#img-style:hover {
  box-shadow: 7px 7px gold; }

#img-style-one:hover {
  box-shadow: 7px 7px #9147ff; }

#img-style-two:hover {
  box-shadow: 7px 7px red; }

#img-style-three:hover {
  box-shadow: 7px 7px tomato; }

.image-info {
  display: flex;
  gap: 10px;
  padding-top: 10px; }

.img-info {
  width: 40px;
  height: 40px;
  border-radius: 50px; }

.img-info-four {
  width: 40px;
  height: 40px;
  border-radius: 50px; }

.image-infor {
  margin-left: -60px; }

.button {
  display: flex;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 40px;
  flex-direction: row; }
  .button__english {
    background-color: gainsboro;
    width: 80px;
    height: 20px;
    border: none;
    border-radius: 20px; }
  .button__link {
    color: #848494;
    text-decoration: none;
    font-size: 13px; }
  .button__add {
    background-color: gainsboro;
    width: 70px;
    height: 20px;
    border: none;
    border-radius: 20px; }
  @media screen and (max-width: 412px) {
    .button {
      margin-top: -20px; } }

hr.divider:after {
  content: 'Show more';
  display: inline-block;
  position: relative;
  top: -7px;
  padding: 0 16px;
  background: #efeff1;
  justify-content: center;
  align-items: center; }

hr.divider {
  margin-bottom: 10px;
  padding: 0;
  overflow: visible;
  border: none;
  border-top: 1px solid  gainsboro;
  color: #9147ff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif; }

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0% auto; }
  @media screen and (max-width: 1024px) {
    hr {
      display: none; } }

#img-gallery:hover {
  box-shadow: 5px 5px #9147ff; }

#img-gallery {
  min-height: 100%;
  max-width: 100%; }

.section-gallery-two {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  width: 98%;
  margin: 0% auto;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  line-height: 22px;
  padding-bottom: 20px; }
  @media screen and (max-width: 1024px) {
    .section-gallery-two {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3px; } }
  @media screen and (max-width: 412px) {
    .section-gallery-two {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3px; } }
  .section-gallery-two__hover:hover {
    transform: translate(5px); }
  .section-gallery-two__name {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #0e0e10; }
  .section-gallery-two__name:hover {
    color: #9147ff; }
  .section-gallery-two__link {
    text-decoration: none;
    color: gray;
    font-family: sans-serif;
    font-size: 0.9em; }
  .section-gallery-two__link:hover {
    color: #9147ff; }

.text {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600; }

.text:hover {
  color: #5c16c5; }

.veiew-btn__button {
  background: gainsboro;
  border: none;
  border-radius: 20px;
  width: 40px;
  height: 20px; }

.veiew-btn__link {
  font-size: 13px;
  color: #848494;
  text-decoration: none;
  font-weight: bold; }

.veiew-btn__btn {
  background: gainsboro;
  border: none;
  border-radius: 20px;
  width: 60px;
  height: 20px; }

.veiew-btn__bt {
  background: gainsboro;
  border: none;
  border-radius: 20px;
  width: 40px;
  height: 20px; }

.veiew-btn__btu {
  background: gainsboro;
  border: none;
  border-radius: 20px;
  width: 60px;
  height: 20px; }

.title-profile {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 10px; }
  .title-profile__text {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000000; }

.images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding-top: 40px;
  justify-content: center;
  padding-bottom: 20px;
  min-width: 80%; }
  @media screen and (max-width: 1024px) {
    .images {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 412px) {
    .images {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px; } }

#log-photos {
  height: 70px;
  margin-top: -10px;
  padding-right: 12px; }
  @media screen and (max-width: 412px) {
    #log-photos {
      height: 50px; } }

.image-log {
  border: 1px solid #9147ff;
  background: #9147ff;
  flex-grow: 1;
  height: 45px;
  display: flex;
  border-radius: 8px; }
  .image-log__title {
    color: #fff;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 0% auto;
    padding-top: 5px;
    padding-right: 50px;
    text-decoration: none;
    font-weight: bold; }
    @media screen and (max-width: 412px) {
      .image-log__title {
        text-align: left;
        padding-right: -50px; } }

.line {
  border: 0.1px solid gray;
  opacity: 0.1;
  margin: 0% auto;
  justify-content: center;
  width: 95%; }

#linear {
  margin-top: 50px; }

.amazon-log {
  width: 80%;
  margin: 0% auto;
  justify-content: center;
  align-items: center;
  padding: 50px;
  display: flex; }
  .amazon-log__log {
    max-width: 150px; }

.footer {
  background: #5c16c5;
  height: 70px;
  border-radius: 10px; }

.section-footer__img {
  width: 60px;
  height: 50px; }

.section-footer__text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif; }

.section-footer__texttwo {
  color: #fff;
  font-size: 18px;
  font-family: sans-serif; }

.footer-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  .footer-button__btn {
    background: #fff;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: -30px;
    margin-right: 50px; }
  .footer-button__link {
    text-decoration: none;
    color: #0e0e10;
    font-weight: bold;
    font-size: 14px; }

#footer-log {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px; }
