* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}
//section nav log
.container {
    width: 2vw;
    height: 2vw;
    justify-content: space-around;
    margin-left: 20px;
&__text {
    height: 100%;
}
&__text2 {
    height: 100%;

}
&__text {
    width: 90%;
    background-color: #9147ff;
    clip-path: polygon(
      24% 0,
      100% 0,
      100% 53%,
      65% 85%,
      50% 85%,
      26% 100%,
      26% 85%,
      0 85%,
      0 22%
    );

}
&__text2 {
    width: 100%;
    background-color: #fff;
    clip-path: polygon(
      26% 8%,
      93% 8%,
      93% 49%,
      76% 64%,
      59% 64%,
      44% 79%,
      44% 64%,
      26% 64%
    );
}
 &__log {
    margin-left: 45%;
    float: left;
 }
 &__log2{
    margin-left: 67%;
 }
 &__log,&__log2 {
    width: 10%;
    height: 50%;
    background-color: #9147ff;
    clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0 100%);
 }
  }
  
  
  /* Dropdown */
  .logs {
    flex-grow: 1 !important;
    flex-shrink: 2 !important;
    width: 100% !important;
    display: flex !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
    flex-wrap: nowrap ;
    gap: 30px;
    margin-top: 20px;



  }
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    display: inline-block;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    white-space: nowrap;
    cursor: auto;
    
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    font-size: 14px;
    font-family: sans-serif;
    color:gray;



  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }
  
 

  
